.App {}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

main {
    min-height: 75vh;
}

.card-group:hover {
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    border: 1px solid;
    z-index: 100;
}

.card-group:hover .card-title {
    color: #4e22d0;
}

nav {
    border-bottom: 2px solid rgba(125, 125, 125, .6);
}

footer {
    font-style: normal;
    padding-top: 2rem;
    border-top: 2px solid rgba(125, 125, 125, .6);
    background: rgba(60, 115, 168, .3);
    padding-bottom: 2rem;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}